<% layout('layouts/boilerplate') %>

    <div class="container">
        <h3>
            本を探す
        </h3>
        <ul>
            <% for(let book of books) {%>
                <li>
                    <a href="books/<%= book._id  %>">
                        <%=book.title %>
                    </a>
                </li>
                <% } %>
        </ul>
        <% if(currentUser){ %>
            <a href="/books/new">新規登録へ</a>
            <% } %>
    </div>