<% layout('layouts/boilerplate') %>
    <h1 class="text-center">本の新規登録</h1>
    <div class="offset-md-3 col-md-6">
        <form action="/books" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">本のタイトル</label>
                <input type="text" name="books[title]" class="form-control" id="title" required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">著者</label>
                <input type="text" name="books[author]" class="form-control" id="author" required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">ISBN</label>
                <input type="text" name="books[isbn]" class="form-control" id="author" required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">ジャンル</label>
                <input type="text" name="books[category]" class="form-control" id="category" required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">画像</label>
                <input type="text" name="books[coverImageUrl]" class="form-control" id="category" required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label">説明</label>
                <textarea name="books[description]" class="form-control" id="comment" rows="5" cols="33"
                    required></textarea>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <button type="submit" class="btn btn-primary">登録</button>
        </form>
    </div>