<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>編集</title>
</head>

<body>
    <h1>編集</h1>
    <form action="/bookreview/id?_method=PUT" method="POST">
        <label for="title">本のタイトル</label>
        <input type="text" name=bookreview[title]" id="title" required>
        <label for="rate">評価</label>
        <input type="range" name=bookreview[rating]" id="rate" min="1" max="5" required>
        <label for="comment">コメント</label>
        <textarea name="bookreview[comment]" id="comment" rows="5" cols="33" required></textarea>
        <button>登録</button>
    </form>
    <a href="/">ホームに戻る</a>

</body>

</html>