<% layout('layouts/boilerplate') %>
    <div class="text-center">
        <main class="px-3 mb-3">
            <h1>読書メモとは？</h1>
            <p class="lead m-3">本を読んだら、一言でも感想を書いておくと、より印象に残ります。<br>
                この読書記録アプリは、あなたの「読書メモ」をシンプルに残します！</p>
        </main>
        <% if(currentUser){ %>
            <a href="/my/reviews" class="btn btn-primary fs-4">My読書メモへ</a>
            <% }else{ %>
                <div class="container text-center m-3">
                    <div class="mb-3">
                        ユーザー登録をして読書メモをしましょう！
                    </div>
                    <div class="d-grid gap-2 col-4 mx-auto">
                        <a class="btn btn-primary" href="/register" role="button">ユーザー登録</a>
                    </div>
                    <div class="m-3">
                        or
                    </div>
                    <div class="mb-3">
                        ユーザー登録はお済みですか？
                    </div>
                    <div class="d-grid gap-2 col-4 mx-auto">
                        <a class="btn btn-primary" href="/login" role="button">ログイン</a>
                    </div>
                </div>

                <% } %>
    </div>
    </div>