<% layout('layouts/boilerplate') %>

    <div class="container">
        <h3>
            読んだ本一覧
        </h3>
        <ul>
            <% for(let bookreview of bookreviews) {%>
                <li>
                    <a href="bookreview/<%= bookreview._id  %>">
                        <%=bookreview.title %>
                    </a>
                </li>
                <% } %>
        </ul>
        <a href="/bookreview/new">新規登録へ</a>
    </div>