<% layout('layouts/boilerplate') %>
    <div class="container">
        <h3>
            My読書記録
        </h3>
        <ul>
            <% for(let review of myReviews) {%>
                <li>
                    <a href="reviews/<%= review._id  %>">
                        <%=review.book.title %>
                    </a>
                </li>
                <% } %>
        </ul>
    </div>