body {
    background-color: #FBF5DE;

}

.page-title {
    /* color: #DC3C22 !important; */
}

.navbar-custom {
    background-color: #3D74B6 !important;
    color: FBF5DE !important;


}

.multiline-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    /* 最大3行まで表示 */
    line-height: 1.5em;
    max-height: 4.5em;
    /* 行数 × line-height */
}

.book-title {
    font-weight: bold;
    color: #3D74B6 !important;

}

.link-underline-opacity-75-hover:hover {
    text-decoration-color: #43640b !important;

    /* 好きな色に */
}

.card-img-top {
    height: 300px;
    width: 200px;
    /* 固定高さ */
    object-fit: cover;
    /* 画像を切り取りつつ埋める */
}

.no-image {
    background-color: #ddd;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 300px;
    /* カードの高さに合わせる */
}

/* .no-image::before {
    content: "画像なし";
} */

.carousel-img {
    height: 390px;
    width: 260px;
    /* 固定高さ */
    object-fit: cover;
    /* 画像を切り取りつつ埋める */
}

/* /* } */