<% layout('layouts/boilerplate') %>
    <h1>ユーザー登録</h1>

    <form action="/register" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">ユーザー名</label>
            <input type="text" name="username" class="form-control" id="username" required>
            <div class="valid-feedback">
                OK!
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">メールアドレス</label>
            <input type="email" name="email" class="form-control" id="email" required>
            <div class="valid-feedback">
                OK!
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">パスワード</label>
            <input type="password" name="password" class="form-control" id="password" required>
            <div class="valid-feedback">
                OK!
            </div>
        </div>
        <button type="submit" class="btn btn-primary">登録</button>
    </form>